.btn {
  background-color: $orange;
  padding: 15px 60px;
  border-radius: 5px;

  color: white;
  font-weight: 500;
  text-transform: uppercase;

  transition-duration: .3s;

  &:hover {
    background-color: #fbd179;
    cursor: pointer;
  }

 &--search {
   width: 45px;
   height: 45px;

   padding: 0;

   border-radius: 50%;
   background-color: $orange;
   border: none;

   background-image: url("../img/icons/search.svg");
   background-repeat: no-repeat;
   background-position: center;
   background-size: 20px;

   text-indent: -9999px;
 }

  &--filter {
    border: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding: 10px 0px;
    font-size: 14px;
  }

  &--order {
    width: 100%;
    font-size: 18px;
    border-radius: 25px;
    text-align: center;
    box-shadow: 0 5px 7px rgba(251,207,58,.4);
    margin-bottom: 20px;
  }

  &--call {
    width: 100%;
    background-color: #3499d9;
    font-size: 18px;
    border-radius: 25px;
    text-align: center;
    box-shadow: 0 5px 7px rgba(59,177,251,.4);

    &:hover {
      background-color: #3cb3ff;
    }
  }

  &--write {
    border: none;
    padding: 10px 50px;
    margin-top: 20px;
  }


}