.contacts {
    color: white;
    flex-basis: 33%;

    &__title {
       font-size: 24px;
       font-weight: 500;
       margin: 0;
       padding: 0;
       margin-bottom: 20px;
       padding-left: 30px;
    }

    &__list {
        display: flex;
        flex-direction: column;

    }

    &__item {

        padding-left: 30px;
        background-repeat: no-repeat;
        background-position: left center;
        background-size: contain;
        margin-bottom: 10px;

        &--phone {
            background-image: url("../img/icons/phone.svg");
        }

        &--email {
            background-image: url("../img/icons/email.svg");
        }

        &--point {
            background-image: url("../img/icons/point.svg");
        }

        a {
            color: white;

            &:hover {
                color: $orange;
            }
        }
    }
}

@media (max-width: $table) {
    .contacts {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 50px;
    }
}