.more {
  color: $orange;
  font-weight: 500;
  text-decoration: underline;

  display: block;
  margin: 0 auto;
  text-align: center;
  margin-top: 50px;

  &:hover {
    color: $blue;
    text-decoration: none;
  }
}